<%= form_with(model: employee_master, local: true) do |form| %>
  <% if employee_master.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee_master.errors.count, "error") %> prohibited this employee_master from being saved:</h2>

      <ul>
      <% employee_master.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :EmployeeID %>
    <%= form.number_field :EmployeeID %>
  </div>

  <div class="field">
    <%= form.label :EmployeeFirstName %>
    <%= form.text_field :EmployeeFirstName %>
  </div>

  <div class="field">
    <%= form.label :EmployeeLastName %>
    <%= form.text_field :EmployeeLastName %>
  </div>

  <div class="field">
    <%= form.label :EmployeeBday %>
    <%= form.datetime_select :EmployeeBday %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
