<%= form_with(model: dtr_master, local: true) do |form| %>
  <% if dtr_master.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dtr_master.errors.count, "error") %> prohibited this employee_master from being saved:</h2>

      <ul>
      <% dtr_master.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :EmployeeFirstName %>
       <%= select_tag(:DTRType, options_for_select([['please choose', ''],['in', 'in'], ['out', 'out']], params[:DTRType])) %>
  </div>

 
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
