<p id="notice"><%= notice %></p>

<h1>Employee Masters</h1>

<table>
  <thead>
    <tr>
      <th>Employeeid</th>
      <th>Employeefirstname</th>
      <th>Employeelastname</th>
      <th>Employeebday</th>
      <th>Total number of hours </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employee_masters.each do |employee_master| %>
      <tr>
        <td><%= employee_master.EmployeeID %></td>
        <td><%= employee_master.EmployeeFirstName %></td>
        <td><%= employee_master.EmployeeLastName %></td>
        <td><%= employee_master.EmployeeBday.strftime('%Y-%m-%d %H:%M') %></td>
         <td><%= employee_master.dtr_masters.where(DTRType: 'out').length > 0  && employee_master.dtr_masters.where(DTRType: 'in').length>0 ? ((employee_master.dtr_masters.where(DTRType: 'out').last.DTRDateTime - employee_master.dtr_masters.where(DTRType: 'in').first.DTRDateTime)/3600).truncate(2) : ''%></td>
        <td><%= link_to 'Show', employee_master %></td>
        <td><%= link_to 'Edit', edit_employee_master_path(employee_master) %></td>
        <td><%= link_to 'Destroy', employee_master, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee Master', new_employee_master_path %>
